.navbar {
  position: fixed;
  padding: 0 2rem;

  /* height: 5rem; */
  border-bottom: 1px solid #ececec;
  z-index: 2;
  background-color: white;
  width: 100%;
  top: 0;
}

.nav-logo {
  height: 2.25rem;
  width: 2.25rem;
}
